body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* CONTENEDOR PRINCIPAL */
.layout {
    display: flex;
    height: 100vh;
}

/* SIDEBAR */
.sidebar {
    width: 250px;
    background-color: #2f4aa0;
    color: white;
    padding: 20px;
}

/* TÍTULO */
.sidebar h2 {
    margin-bottom: 30px;
}

/* LISTA */
.sidebar ul {
    list-style: none;
    padding: 0;
}

/* ITEMS */
.sidebar ul li {
    margin: 15px 0;
}

/* LINKS */
.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 8px;
    border-radius: 5px;
}

/* HOVER */
.sidebar ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

/* CONTENIDO */
.main-content {
    flex: 1;
    background-color: #f5f6fa;
    padding: 20px;
}

form {
    margin-bottom: 20px;
}

input {
    padding: 8px;
    margin-right: 10px;
}

button {
    padding: 8px 15px;
    background: #2f4aa0;
    color: white;
    border: none;
    border-radius: 5px;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

/* BOTÓN */
button {
    background-color: #2f4aa0;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

/* FORMULARIO */
#formContainer {
    background: white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
}

/* OCULTO */
.hidden {
    display: none;
}

/* TABLA */
table {
    width: 100%;
    background: white;
    border-radius: 8px;
    border-collapse: collapse;
}

th,
td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

th {
    text-align: left;
    background: #f0f0f0;
}

/* TOPBAR */
.topbar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.topbar input {
    width: 50%;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
}

/* SUBTÍTULO */
.subtitle {
    color: gray;
    margin-bottom: 20px;
}

/* CARDS */
.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-bottom: 30px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card p {
    color: gray;
    margin: 0;
}

.card h2 {
    margin: 5px 0 0;
}

/* CITAS */
.citas-box {
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.cita {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.hora {
    background: #e0e7ff;
    padding: 10px;
    /* Para que sea un círculo perfecto, el elemento debe tener el mismo ancho y alto. */
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}